* {
	box-sizing: border-box;
	font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
html {
	font-size: 16px;
}
html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
